@use "shared" as *;

*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
  background-color: #8aa3c9;
  -webkit-animation: bg-transition 8s infinite;
  animation: bg-transition 8s infinite;
}
